<div class="row">
    <div class="mb-3">
        <pre class="card card-block card-header" *ngIf="data">Changed date is {{data | date:'medium' }}</pre>
    </div>
    <div class="mb-3">
        <pre class="card card-block card-header" *ngIf="isInBetween">Date is in between</pre>
        <pre class="card card-block card-header" *ngIf="!isInBetween && checkDateVariable!=null">Date isn't in the selected interval</pre>
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Start Date"
               class="form-control"
               bsDatepicker
               [value]="dateJsonStart | date:'yyyy-MM-dd'"
               (bsValueChange)="startDate($event)">
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="End Date"
               class="form-control"
               bsDatepicker
               [value]="dateJsonEnd | date:'yyyy-MM-dd'"
               (bsValueChange)="endDate($event)">
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Date in Between"
               class="form-control"
               bsDatepicker
               (bsValueChange)="inBetween($event)">
    </div>
    <div class="col-xs-12 col-12 col-md-4 form-group">
        <input type="text"
               placeholder="Today Date"
               class="form-control"
               bsDatepicker
               (bsValueChange)="onValueChange($event)">
    </div>
    <button (click)="checkDate($event)">Check Date</button>
    <button (click)="saveDate($event)">Save Date</button>
    <div class="show-range"></div>
</div>